parameters:
    level: 5
    paths:
        - application/
    autoload_files:
        - %rootDir%/../../application/config/constants.php
    bootstrapFiles:
        - %rootDir%/../../application/bootstrap.php
    excludePaths:
        analyse:
            - %rootDir%/../../application/cache/*
            - %rootDir%/../../application/logs/*
